<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel ="stylesheet" href = "static/anotherstyle.css">-->
   <link rel ="stylesheet" href = "{{ url_for('static',filename='anotherstyle.css' ) }}">
   <!--dynamically generate url-->
    <title>Document</title>
</head>
<body>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio accusantium id ratione qui pariatur minus quaerat, numquam doloribus quibusdam. Et, perspiciatis obcaecati? Placeat voluptatem in repudiandae debitis, quibusdam tenetur facilis dolores aperiam praesentium quo.

    
</body>
</html>